POSTGRES_DB=nexxclinic
POSTGRES_USER=nexxclinic_user
POSTGRES_PASSWORD=nexxclinic_pass

DB_URL=jdbc:postgresql://localhost:5432/nexxclinic
DB_USER=nexxclinic_user
DB_PASSWORD=nexxclinic_pass
DB_DRIVER=org.postgresql.Driver
